@import "./theme/typography.css";
@import "./theme/layout.scss";

#About {
    @extend .section;
    h2 img {
        height: 2.75rem;
        transform: translate(0, 5px);
        padding-left: 0.25rem;
        padding-right: 1rem;
    }
    .about {
        display: flex;
        justify-content: stretch;
        .bio {
            flex: 75%;
            margin: 1rem;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
            .technologies-wrapper {
                @extend .technologies-wrapper;
                .technologies {
                    .technology {
                        flex: 0 0 15%;
                    }
                }
            }
        }
        .shawn {
            flex: 25%;
            margin-top: 1rem;
            border: 2px dotted lightcoral;
        }
    }
}

@media (max-width: 900px) {
    #About {
        .about {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            .bio {
                padding: 0.4rem;
                .technologies-wrapper h3 {
                    display: block;
                }
            }
            .shawn {
                display: none;
            }
        }
    }
}
