@import "./theme/typography.css";
@import "./theme/layout.scss";

#About {
    @extend .section;
    h2 img {
        height: 2.75rem;
        transform: translate(0, 5px);
        padding-left: 0.25rem;
        padding-right: 1rem;
    }
    .about {
        display: flex;
        .bio {
            flex: 3;
            padding: 1rem;
            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
            .technologies-wrapper {
                @extend .technologies-wrapper;
                margin-top: 1.5rem;
                .technologies {
                    .technology {
                        flex: 0 0 15%;
                    }
                }
            }
        }
        img {
            flex: 1.5;
            padding: 1rem;
        }
    }
}

@media (max-width: 900px) {
    #About {
        .about {
            display: flex;
            flex-direction: column-reverse;
            .bio {
                padding: 0.4rem;
            }
        }
        .technologies-wrapper h3 {
            display: block;
        }
    }
}
