@import "./theme/colors.scss";

.Footer {
    height: 12rem;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 2rem;
    background-color: $deep-sea;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Pixel";
    .wave {
        color: lightcoral;
        padding: 1rem;
    }
}
