@import './theme/colors.scss';

.Footer {
    height: 6rem;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 2rem;
    background-color: $deep-sea;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    color: lightcoral;
}