@import "./theme/typography.css";
@import "./theme/layout.scss";
@import "./theme/colors.scss";

.Nav {
    background-color: $green-tint;
    h1 {
        @extend .layout;
        font-family: "Cormorant Garamond", serif;
        max-width: calc(65% + 2rem);
        padding: 0;
        font-size: 5.5rem;
        color: lightcoral;
        transition: 0.25s;
        text-shadow: 3px 3px $green-pastel;
    }
    nav {
        font-family: "Pixel";
        background-color: $deep-sea;
        font-size: 2.25rem;
        .nav-items {
            display: flex;
            max-width: calc(65% + 1rem);
            margin: auto;
            transition: 0.25s;
            .left-items {
                display: flex;
                flex-direction: row;
                .nav-item,
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        cursor: pointer;
                        color: lightcoral;
                    }
                }
                span {
                    color: lightcoral;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
            .right-items {
                @extend .left-items;
                font-size: 2rem;
                margin-left: auto;
                .nav-item {
                    margin-right: 0;
                    margin-left: 1rem;
                    line-height: 100%;
                }
                .divider {
                    @extend .nav-item;
                    font-size: 2rem;
                    font-weight: bold;
                    pointer-events: none;
                    user-select: none;
                }
            }
            .connect,
            .openclose {
                display: none;
            }
        }
    }
}

// right items and left items divs

@media (max-width: 1600px) {
    .Nav {
        h1 {
            max-width: calc(85% + 2rem);
        }
        nav .nav-items {
            max-width: calc(85% + 1rem);
        }
    }
}

@media (max-width: 800px) {
    .Nav {
        h1 {
            max-width: 100%;
            font-size: 4.5rem;
            text-align: center;
        }
        nav {
            .nav-items {
                justify-content: center;
                max-width: 100%;
                flex-direction: column;
                .nav-item {
                    padding: 0.75rem 0 0.75rem 3rem;
                }
                .left-items {
                    flex-direction: column;
                    span {
                        display: none;
                    }
                }
                .right-items {
                    flex-direction: column;
                    margin-left: 0;
                    border-top: 2px solid $green-pastel;
                    .nav-item {
                        margin: 0;
                    }
                }
                .openclose {
                    text-align: center;
                    color: lightcoral;
                    margin-bottom: 0.25rem;
                    cursor: pointer;
                    .open {
                        font-size: 2rem;
                        color: white;
                        &:active {
                            color: lightcoral;
                        }
                    }
                    .close {
                        background-color: white;
                        padding: 0.1rem 0.25rem 0.1rem 0.4rem;
                        &:active {
                            background-color: lightcoral;
                            color: white;
                        }
                    }
                }
                .connect,
                .openclose {
                    display: block;
                }
            }
        }
    }
}
