@import './theme/typography.css';
@import './theme/layout.scss';
@import './theme/colors.scss';

.Nav {
    background-color: $green-tint;
    h1 { 
        @extend .layout;
        font-family: 'Cormorant Garamond', serif;
        max-width: calc(60% + 2rem);
        padding: 0;
        padding-top: 1rem;
        font-size: 6rem;
        color: $deep-sea;
        text-shadow: 2px 1px lightcoral;
    }
    nav {
        font-family: "Star Fox";
        background-color: $deep-sea;
        font-size: 1rem;
        padding: 0.25rem 0 0.25rem 0;
        .nav-items {
            display: flex;
            max-width: calc(60% + 1rem);
            margin: auto;
            .left-items {
                display: flex;
                flex-direction: row;
                .nav-item {
                    margin-right: 1rem;
                    color: white;
                    &:hover {
                        cursor: pointer;
                        color: lightcoral;
                    }
                }
                span {
                    color: lightcoral;
                    margin-right: 1rem;
                }
                
            }
            .right-items {
                @extend .left-items;
                margin-left: auto;
                .nav-item {
                    margin-right: 0;
                    margin-left: 1rem;
                    line-height: 100%;
                }
                .divider {
                    @extend .nav-item;
                    font-size: 2rem;
                    font-weight: bold;
                    pointer-events: none;
                    user-select: none;
                }
            }
            .connect, .icon {
                display: none;
            }
        }
    }
}

// right items and left items divs

@media (max-width: 800px) {
    .Nav {
        h1 {
            max-width: 100%;
            font-size: 5rem;
            text-align: center;
        }
        nav {
            .nav-items {
                justify-content: center;
                max-width: 100%;
                flex-direction: column;
                .nav-item {
                    padding: 0.75rem 0 0.75rem 3rem;
                }
                .left-items {
                    flex-direction: column;
                    span {
                        display: none;
                    }
                }
                .right-items {
                    flex-direction: column;
                    margin-left: 0;
                    border-top: 1px solid lavenderblush;
                    .nav-item {
                        margin: 0;
                    }
                }
                .icon {
                    width: 100%;
                    margin: auto;
                    color: white;
                    font-size: 1.75rem;
                    &:hover {
                        cursor: pointer;
                        color: lightcoral;
                    }
                }
                .connect, .icon {
                    display: block;
                }
            }
        }
    }
}