---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Shawn Yama">
  <main>
    <Header />
    <About />
    <Projects />
    <Footer />
  </main>
</Layout>
