---
import Connect from "./Connect.astro";
---

<footer>
  <div>© {new Date().getFullYear()} Shawn Yama</div>
  <Connect />
</footer>

<style scoped>
  footer {
    height: 12rem;
    padding-top: 3rem;
    margin-top: 2rem;
    background-color: var(--deep-sea);
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "RPGSystem";
    border-top: 1px dotted lightcoral;
  }

  footer > div::before,
  footer > div::after {
    margin: 0 1rem;
    color: lightcoral;
    content: "~";
  }
</style>
