---
import { links } from "@data/links";
---

<script>
  const menuToggle: any = document.getElementById("menu-toggle");
  const anchors = document.querySelectorAll("header a");
  for (let i = 0; i < anchors.length; i++) {
    anchors[i].addEventListener(
      "click",
      () => (menuToggle.checked = false),
      false
    );
  }
</script>

<header>
  <h1>Shawn Yama</h1>
  <nav>
    <input type="checkbox" id="menu-toggle" style="display:none;" />
    <section id="menu">
      <ul>
        <li>
          <a href="#About">About</a>
        </li>
        <li>
          <a href="#Projects">Projects</a>
        </li>
      </ul>
      <ul>
        {
          links.map((link, l) => (
            <li class="connect">
              <a
                href={link.address}
                target={link.target}
                rel="noopener noreferrer"
              >
                {link.platform.toLowerCase()}
              </a>
            </li>
          ))
        }
        <li>
          <a
            href="../../public/pdfs/ShawnYama_Resume.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Resume
          </a>
        </li>
      </ul>
    </section>
    <label for="menu-toggle"></label>
  </nav>
</header>

<style scoped>
  header {
    background-color: var(--green-tint);
  }

  h1,
  nav > section {
    margin: auto;
    width: calc(65% + 2rem);
  }

  label {
    display: none;
  }
  nav > section {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 5rem;
    transition: 0.25s;
    text-shadow: 3px 3px var(--green-pastel);
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--deep-sea);
    color: white;
    font-family: "RPGSystem";
    font-size: 2rem;
    border-top: 1px dotted lightcoral;
    border-bottom: 1px dotted lightcoral;
  }

  ul {
    text-transform: uppercase;
    display: flex;
  }

  ul:last-child {
    text-transform: lowercase;
  }

  li:not(:last-child)::after {
    content: "~";
  }
  .connect {
    display: none;
  }
  a {
    padding: 0 0.5rem;
    color: white;
    text-decoration: none;
  }

  a:hover,
  label:hover {
    cursor: pointer;
    color: lightcoral;
  }

  @media (max-width: 1600px) {
    h1,
    nav > section {
      width: calc(85% + 2rem);
    }
  }

  @media (max-width: 800px) {
    #menu {
      display: none;
    }
    :checked + #menu {
      display: block;
    }
    label {
      cursor: pointer;
      display: block;
      margin: auto;
    }
    label::after {
      content: "menu";
    }
    :checked + #menu + label:after {
      padding: 0.3rem 0.5rem 0 0.6rem;
      text-shadow: 0 8px white;
      line-height: 1.5;
      content: "^";
    }
    h1,
    nav > section,
    ul {
      width: 100vw;
    }
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    nav {
      flex-direction: column;
    }
    nav > section {
      margin: 0;
      justify-content: center;
      flex-direction: column;
    }
    ul {
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem 0;
    }
    ul:last-child {
      margin-left: 0;
      border-top: 1px dotted lightcoral;
    }
    li {
      padding: 0 1rem;
    }
    li > a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0;
    }
    li:not(:last-child)::after {
      content: none;
    }
    .connect {
      display: block;
    }
  }
</style>
