---
import { Image } from "astro:assets";
import face from "@assets/face.svg";
import shawn from "@assets/shawn.jpg";
import { Content as AboutMD } from "@content/about.md";

const greetings = ["HI THERE", "WELCOME", "HELLO", "AHOY!", "HOWDY"];
const skills = [
  "react",
  "javascript",
  "c++",
  "nodejs",
  "python",
  "sql",
  "docker",
  "java",
  "flask",
  "html/css",
  "git",
  "bash",
  "flutter",
  "d3js",
  "pixijs",
  "OOP",
  "linux",
  "vue",
];
const greeting = greetings[Math.floor(Math.random() * greetings.length)];
---

<section>
  <h2><Image src={face} alt="Shawn icon" />{greeting}</h2>
  <article>
    <div>
      <p><AboutMD /></p>
      <ul class="technologies">
        <h3>Technical Skills</h3>
        <ul>
          {
            skills.map((technology) => (
              <li>
                <div>{technology}</div>
              </li>
            ))
          }
        </ul>
      </ul>
    </div>
    <Image src={shawn} alt="Shawn Yama" />
  </article>
</section>

<style scoped>
  h2 > img {
    transform: translate(0, 5px);
    height: 3rem;
    width: fit-content;
    padding-right: 1rem;
  }

  article {
    display: flex;
    justify-content: stretch;
  }

  article > * {
    margin: 0.5rem 0.5rem 0 0.25rem;
  }

  article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  article > img {
    object-fit: cover;
    max-width: 20rem;
    height: auto;
    border: 1px dotted lightcoral;
  }
</style>
