---
const links = [
  {
    platform: "GitHub",
    address: "https://github.com/shawnyama",
    target: "_blank",
    icon: "faGithub",
  },
  {
    platform: "LinkedIn",
    address: "https://www.linkedin.com/in/shawn-yama",
    target: "_blank",
    icon: "faLinkedin",
  },
  {
    platform: "yama.shawn@outlook.com",
    address: "mailto:yama.shawn@outlook.com",
    target: "",
    icon: "faEnvelope",
  },
];
---

<aside>
  <header>connect</header>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.address} target={link.target} rel="noopener noreferrer">
            <div class="tooltip">
              <div class="platform">{link.platform}</div>
              <span class="arrow">&#x0007B;</span>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</aside>
